DB_URL=postgres://postgres:password@localhost:5432/anertic?sslmode=disable
REDIS_URL=redis://localhost:6379
ADDR=:8080
OCPP_ADDR=:8081
APP_URL=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/callback

# Ops
OPS_DEBUG=false
OPS_PROJECT_ID=
OPS_SERVICE=anertic-api
OPS_PROFILER=false
OPS_TRACING=false
OPS_TRACE_SAMPLING=0.01
OPS_QUICKWIT_URL=
OPS_QUICKWIT_INDEX_ID=logging
